################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/MS.Application.Authorization/obj/Debug/net8.0/MS.Application.Authorization.AssemblyInfo.cs
/MS.Application.Authorization/obj/Debug/net8.0/MS.Application.Authorization.AssemblyInfoInputs.cache
/MS.Application.Authorization/obj/Release/net8.0/MS.Application.Authorization.AssemblyInfo.cs
/MS.Application.Authorization/obj/Release/net8.0/MS.Application.Authorization.AssemblyInfoInputs.cache
/MS.Application.ElectronicRecord/obj/Debug/net8.0/MS.Application.ElectronicRecord.AssemblyInfo.cs
/MS.Application.ElectronicRecord/obj/Debug/net8.0/MS.Application.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Application.ElectronicRecord/obj/Release/net8.0/MS.Application.ElectronicRecord.AssemblyInfo.cs
/MS.Application.ElectronicRecord/obj/Release/net8.0/MS.Application.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Application.Management/obj/Debug/net8.0/MS.Application.Management.AssemblyInfo.cs
/MS.Application.Management/obj/Debug/net8.0/MS.Application.Management.AssemblyInfoInputs.cache
/MS.Application.Management/obj/Release/net8.0/MS.Application.Management.AssemblyInfo.cs
/MS.Application.Management/obj/Release/net8.0/MS.Application.Management.AssemblyInfoInputs.cache
/MS.Application.Patients/obj/Debug/net8.0/MS.Application.Patients.AssemblyInfo.cs
/MS.Application.Patients/obj/Debug/net8.0/MS.Application.Patients.AssemblyInfoInputs.cache
/MS.Application.Patients/obj/Release/net8.0/MS.Application.Patients.AssemblyInfo.cs
/MS.Application.Patients/obj/Release/net8.0/MS.Application.Patients.AssemblyInfoInputs.cache
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.AssemblyInfo.cs
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.AssemblyInfoInputs.cache
/MS.Authorization.API/obj/Release/net8.0/MS.Authorization.API.AssemblyInfo.cs
/MS.Authorization.API/obj/Release/net8.0/MS.Authorization.API.AssemblyInfoInputs.cache
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.AssemblyInfo.cs
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.AssemblyInfoInputs.cache
/MS.Domain.Authorization/obj/Release/net8.0/MS.Domain.Authorization.AssemblyInfo.cs
/MS.Domain.Authorization/obj/Release/net8.0/MS.Domain.Authorization.AssemblyInfoInputs.cache
/MS.Domain.ElectronicRecord/obj/Debug/net8.0/MS.Domain.ElectronicRecord.AssemblyInfo.cs
/MS.Domain.ElectronicRecord/obj/Debug/net8.0/MS.Domain.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Domain.ElectronicRecord/obj/Release/net8.0/MS.Domain.ElectronicRecord.AssemblyInfo.cs
/MS.Domain.ElectronicRecord/obj/Release/net8.0/MS.Domain.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Domain.Management/obj/Debug/net8.0/MS.Domain.Management.AssemblyInfo.cs
/MS.Domain.Management/obj/Debug/net8.0/MS.Domain.Management.AssemblyInfoInputs.cache
/MS.Domain.Management/obj/Release/net8.0/MS.Domain.Management.AssemblyInfo.cs
/MS.Domain.Management/obj/Release/net8.0/MS.Domain.Management.AssemblyInfoInputs.cache
/MS.Domain.Patients/obj/Debug/net8.0/MS.Domain.Patients.AssemblyInfo.cs
/MS.Domain.Patients/obj/Debug/net8.0/MS.Domain.Patients.AssemblyInfoInputs.cache
/MS.Domain.Patients/obj/Release/net8.0/MS.Domain.Patients.AssemblyInfo.cs
/MS.Domain.Patients/obj/Release/net8.0/MS.Domain.Patients.AssemblyInfoInputs.cache
/MS.Management.API/obj/Debug/net8.0/MS.Management.API.AssemblyInfo.cs
/MS.ElectronicRecord.API/obj/Debug/net8.0/MS.ElectronicRecord.API.AssemblyInfo.cs
/MS.ElectronicRecord.API/obj/Debug/net8.0/MS.ElectronicRecord.API.AssemblyInfoInputs.cache
/MS.ElectronicRecord.API/obj/Release/net8.0/MS.ElectronicRecord.API.AssemblyInfo.cs
/MS.ElectronicRecord.API/obj/Release/net8.0/MS.ElectronicRecord.API.AssemblyInfoInputs.cache
/MS.Management.API/obj/Debug/net8.0/MS.Management.API.AssemblyInfoInputs.cache
/MS.Management.API/obj/Release/net8.0/MS.Management.API.AssemblyInfo.cs
/MS.Management.API/obj/Release/net8.0/MS.Management.API.AssemblyInfoInputs.cache
/MS.Patients.API/obj/Debug/net8.0/MS.Patients.API.AssemblyInfo.cs
/MS.Patients.API/obj/Debug/net8.0/MS.Patients.API.AssemblyInfoInputs.cache
/MS.Patients.API/obj/Release/net8.0/MS.Patients.API.AssemblyInfo.cs
/MS.Patients.API/obj/Release/net8.0/MS.Patients.API.AssemblyInfoInputs.cache
/MS.Persistence.Authorization/obj/Debug/net8.0/MS.Persistence.Authorization.AssemblyInfo.cs
/MS.Persistence.Authorization/obj/Debug/net8.0/MS.Persistence.Authorization.AssemblyInfoInputs.cache
/MS.Persistence.Authorization/obj/Release/net8.0/MS.Persistence.Authorization.AssemblyInfo.cs
/MS.Persistence.Authorization/obj/Release/net8.0/MS.Persistence.Authorization.AssemblyInfoInputs.cache
/MS.Persistence.ElectronicRecord/obj/Debug/net8.0/MS.Persistence.ElectronicRecord.AssemblyInfo.cs
/MS.Persistence.ElectronicRecord/obj/Debug/net8.0/MS.Persistence.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Persistence.ElectronicRecord/obj/Release/net8.0/MS.Persistence.ElectronicRecord.AssemblyInfo.cs
/MS.Persistence.ElectronicRecord/obj/Release/net8.0/MS.Persistence.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Persistence.Management/obj/Debug/net8.0/MS.Persistence.Management.AssemblyInfo.cs
/MS.Persistence.Management/obj/Debug/net8.0/MS.Persistence.Management.AssemblyInfoInputs.cache
/MS.Persistence.Management/obj/Release/net8.0/MS.Persistence.Management.AssemblyInfo.cs
/MS.Persistence.Management/obj/Release/net8.0/MS.Persistence.Management.AssemblyInfoInputs.cache
/MS.Persistence.Patients/obj/Debug/net8.0/MS.Persistence.Patients.AssemblyInfo.cs
/MS.Persistence.Patients/obj/Debug/net8.0/MS.Persistence.Patients.AssemblyInfoInputs.cache
/MS.Persistence.Patients/obj/Release/net8.0/MS.Persistence.Patients.AssemblyInfo.cs
/MS.Persistence.Patients/obj/Release/net8.0/MS.Persistence.Patients.AssemblyInfoInputs.cache
/MS.Application.Authorization/obj/Release/net8.0/MS.Application.Authorization.assets.cache
/MS.Application.Authorization/obj/Release/net8.0/MS.Application.Authorization.csproj.AssemblyReference.cache
/MS.Application.Authorization/obj/Release/net8.0/MS.Application.Authorization.GeneratedMSBuildEditorConfig.editorconfig
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.assets.cache
/MS.Domain.Authorization/obj/Release/net8.0/MS.Domain.Authorization.assets.cache
