################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/MS.Application.Authorization/obj/Debug/net8.0/MS.Application.Authorization.AssemblyInfo.cs
/MS.Application.Authorization/obj/Debug/net8.0/MS.Application.Authorization.AssemblyInfoInputs.cache
/MS.Application.Authorization/obj/Release/net8.0/MS.Application.Authorization.AssemblyInfo.cs
/MS.Application.Authorization/obj/Release/net8.0/MS.Application.Authorization.AssemblyInfoInputs.cache
/MS.Application.ElectronicRecord/obj/Debug/net8.0/MS.Application.ElectronicRecord.AssemblyInfo.cs
/MS.Application.ElectronicRecord/obj/Debug/net8.0/MS.Application.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Application.ElectronicRecord/obj/Release/net8.0/MS.Application.ElectronicRecord.AssemblyInfo.cs
/MS.Application.ElectronicRecord/obj/Release/net8.0/MS.Application.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Application.Management/obj/Debug/net8.0/MS.Application.Management.AssemblyInfo.cs
/MS.Application.Management/obj/Debug/net8.0/MS.Application.Management.AssemblyInfoInputs.cache
/MS.Application.Management/obj/Release/net8.0/MS.Application.Management.AssemblyInfo.cs
/MS.Application.Management/obj/Release/net8.0/MS.Application.Management.AssemblyInfoInputs.cache
/MS.Application.Patients/obj/Debug/net8.0/MS.Application.Patients.AssemblyInfo.cs
/MS.Application.Patients/obj/Debug/net8.0/MS.Application.Patients.AssemblyInfoInputs.cache
/MS.Application.Patients/obj/Release/net8.0/MS.Application.Patients.AssemblyInfo.cs
/MS.Application.Patients/obj/Release/net8.0/MS.Application.Patients.AssemblyInfoInputs.cache
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.AssemblyInfo.cs
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.AssemblyInfoInputs.cache
/MS.Authorization.API/obj/Release/net8.0/MS.Authorization.API.AssemblyInfo.cs
/MS.Authorization.API/obj/Release/net8.0/MS.Authorization.API.AssemblyInfoInputs.cache
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.AssemblyInfo.cs
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.AssemblyInfoInputs.cache
/MS.Domain.Authorization/obj/Release/net8.0/MS.Domain.Authorization.AssemblyInfo.cs
/MS.Domain.Authorization/obj/Release/net8.0/MS.Domain.Authorization.AssemblyInfoInputs.cache
/MS.Domain.ElectronicRecord/obj/Debug/net8.0/MS.Domain.ElectronicRecord.AssemblyInfo.cs
/MS.Domain.ElectronicRecord/obj/Debug/net8.0/MS.Domain.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Domain.ElectronicRecord/obj/Release/net8.0/MS.Domain.ElectronicRecord.AssemblyInfo.cs
/MS.Domain.ElectronicRecord/obj/Release/net8.0/MS.Domain.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Domain.Management/obj/Debug/net8.0/MS.Domain.Management.AssemblyInfo.cs
/MS.Domain.Management/obj/Debug/net8.0/MS.Domain.Management.AssemblyInfoInputs.cache
/MS.Domain.Management/obj/Release/net8.0/MS.Domain.Management.AssemblyInfo.cs
/MS.Domain.Management/obj/Release/net8.0/MS.Domain.Management.AssemblyInfoInputs.cache
/MS.Domain.Patients/obj/Debug/net8.0/MS.Domain.Patients.AssemblyInfo.cs
/MS.Domain.Patients/obj/Debug/net8.0/MS.Domain.Patients.AssemblyInfoInputs.cache
/MS.Domain.Patients/obj/Release/net8.0/MS.Domain.Patients.AssemblyInfo.cs
/MS.Domain.Patients/obj/Release/net8.0/MS.Domain.Patients.AssemblyInfoInputs.cache
/MS.Management.API/obj/Debug/net8.0/MS.Management.API.AssemblyInfo.cs
/MS.ElectronicRecord.API/obj/Debug/net8.0/MS.ElectronicRecord.API.AssemblyInfo.cs
/MS.ElectronicRecord.API/obj/Debug/net8.0/MS.ElectronicRecord.API.AssemblyInfoInputs.cache
/MS.ElectronicRecord.API/obj/Release/net8.0/MS.ElectronicRecord.API.AssemblyInfo.cs
/MS.ElectronicRecord.API/obj/Release/net8.0/MS.ElectronicRecord.API.AssemblyInfoInputs.cache
/MS.Management.API/obj/Debug/net8.0/MS.Management.API.AssemblyInfoInputs.cache
/MS.Management.API/obj/Release/net8.0/MS.Management.API.AssemblyInfo.cs
/MS.Management.API/obj/Release/net8.0/MS.Management.API.AssemblyInfoInputs.cache
/MS.Patients.API/obj/Debug/net8.0/MS.Patients.API.AssemblyInfo.cs
/MS.Patients.API/obj/Debug/net8.0/MS.Patients.API.AssemblyInfoInputs.cache
/MS.Patients.API/obj/Release/net8.0/MS.Patients.API.AssemblyInfo.cs
/MS.Patients.API/obj/Release/net8.0/MS.Patients.API.AssemblyInfoInputs.cache
/MS.Persistence.Authorization/obj/Debug/net8.0/MS.Persistence.Authorization.AssemblyInfo.cs
/MS.Persistence.Authorization/obj/Debug/net8.0/MS.Persistence.Authorization.AssemblyInfoInputs.cache
/MS.Persistence.Authorization/obj/Release/net8.0/MS.Persistence.Authorization.AssemblyInfo.cs
/MS.Persistence.Authorization/obj/Release/net8.0/MS.Persistence.Authorization.AssemblyInfoInputs.cache
/MS.Persistence.ElectronicRecord/obj/Debug/net8.0/MS.Persistence.ElectronicRecord.AssemblyInfo.cs
/MS.Persistence.ElectronicRecord/obj/Debug/net8.0/MS.Persistence.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Persistence.ElectronicRecord/obj/Release/net8.0/MS.Persistence.ElectronicRecord.AssemblyInfo.cs
/MS.Persistence.ElectronicRecord/obj/Release/net8.0/MS.Persistence.ElectronicRecord.AssemblyInfoInputs.cache
/MS.Persistence.Management/obj/Debug/net8.0/MS.Persistence.Management.AssemblyInfo.cs
/MS.Persistence.Management/obj/Debug/net8.0/MS.Persistence.Management.AssemblyInfoInputs.cache
/MS.Persistence.Management/obj/Release/net8.0/MS.Persistence.Management.AssemblyInfo.cs
/MS.Persistence.Management/obj/Release/net8.0/MS.Persistence.Management.AssemblyInfoInputs.cache
/MS.Persistence.Patients/obj/Debug/net8.0/MS.Persistence.Patients.AssemblyInfo.cs
/MS.Persistence.Patients/obj/Debug/net8.0/MS.Persistence.Patients.AssemblyInfoInputs.cache
/MS.Persistence.Patients/obj/Release/net8.0/MS.Persistence.Patients.AssemblyInfo.cs
/MS.Persistence.Patients/obj/Release/net8.0/MS.Persistence.Patients.AssemblyInfoInputs.cache
/MS.Application.Authorization/obj/Release/net8.0/MS.Application.Authorization.assets.cache
/MS.Application.Authorization/obj/Release/net8.0/MS.Application.Authorization.csproj.AssemblyReference.cache
/MS.Application.Authorization/obj/Release/net8.0/MS.Application.Authorization.GeneratedMSBuildEditorConfig.editorconfig
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.assets.cache
/MS.Domain.Authorization/obj/Release/net8.0/MS.Domain.Authorization.assets.cache
/MS.Application.Authorization/obj/Debug/net8.0/MS.Application.Authorization.assets.cache
/MS.Persistence.Authorization/obj/Release/net8.0/MS.Persistence.Authorization.assets.cache
/MS.Application.Authorization/obj/Debug/net8.0/MS.Application.Authorization.csproj.AssemblyReference.cache
/MS.Persistence.Authorization/obj/Debug/net8.0/MS.Persistence.Authorization.csproj.AssemblyReference.cache
/MS.Application.Authorization/bin/Debug/net8.0/MS.Application.Authorization.dll
/MS.Application.Authorization/bin/Debug/net8.0/MS.Application.Authorization.pdb
/MS.Application.Authorization/bin/Debug/net8.0/MS.Domain.Authorization.dll
/MS.Application.Authorization/bin/Debug/net8.0/MS.Domain.Authorization.pdb
/MS.Application.Authorization/obj/Debug/net8.0/ref/MS.Application.Authorization.dll
/MS.Application.Authorization/obj/Debug/net8.0/MS.Application.Authorization.csproj.AssemblyReference.cache
/MS.Application.Authorization/obj/Debug/net8.0/MS.Application.Authorization.dll
/MS.Application.Authorization/obj/Debug/net8.0/MS.Application.Authorization.pdb
/MS.Application.Authorization/obj/Debug/net8.0/MS.Application.Authorization.sourcelink.json
/MS.Application.Authorization/obj/Debug/net8.0/refint/MS.Application.Authorization.dll
/MS.Authorization.API/bin/Debug/net8.0/runtimes
/MS.Authorization.API/bin/Debug/net8.0/AutoMapper.dll
/MS.Authorization.API/bin/Debug/net8.0/Azure.Core.dll
/MS.Authorization.API/bin/Debug/net8.0/Azure.Identity.dll
/MS.Authorization.API/bin/Debug/net8.0/BCrypt.Net-Next.dll
/MS.Authorization.API/bin/Debug/net8.0/FluentValidation.DependencyInjectionExtensions.dll
/MS.Authorization.API/bin/Debug/net8.0/FluentValidation.dll
/MS.Authorization.API/bin/Debug/net8.0/MediatR.Contracts.dll
/MS.Authorization.API/bin/Debug/net8.0/MediatR.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/MS.Authorization.API/bin/Debug/net8.0/MS.Application.Authorization.dll
/MS.Authorization.API/bin/Debug/net8.0/MS.Application.Authorization.pdb
/MS.Authorization.API/bin/Debug/net8.0/MS.Authorization.API.deps.json
/MS.Authorization.API/bin/Debug/net8.0/MS.Authorization.API.dll
/MS.Authorization.API/bin/Debug/net8.0/MS.Authorization.API.exe
/MS.Authorization.API/bin/Debug/net8.0/MS.Authorization.API.pdb
/MS.Authorization.API/bin/Debug/net8.0/MS.Authorization.API.runtimeconfig.json
/MS.Authorization.API/bin/Debug/net8.0/MS.Domain.Authorization.dll
/MS.Authorization.API/bin/Debug/net8.0/MS.Domain.Authorization.pdb
/MS.Authorization.API/bin/Debug/net8.0/MS.Persistence.Authorization.dll
/MS.Authorization.API/bin/Debug/net8.0/MS.Persistence.Authorization.pdb
/MS.Authorization.API/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Drawing.Common.dll
/MS.Authorization.API/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Memory.Data.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Runtime.Caching.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Security.Permissions.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Windows.Extensions.dll
/MS.Management.API/bin/Debug/net8.0/MS.Management.API.dll
/MS.Management.API/bin/Debug/net8.0/MS.Management.API.exe
/MS.Management.API/bin/Debug/net8.0/MS.Management.API.pdb
/MS.Management.API/obj/Debug/net8.0/ref/MS.Management.API.dll
/MS.Management.API/obj/Debug/net8.0/refint/MS.Management.API.dll
/MS.Management.API/obj/Debug/net8.0/apphost.exe
/MS.Management.API/obj/Debug/net8.0/MS.Management.API.dll
/MS.Management.API/obj/Debug/net8.0/MS.Management.API.pdb
/MS.Management.API/obj/Debug/net8.0/MS.Management.API.sourcelink.json
/MS.Patients.API/bin/Debug/net8.0/MS.Patients.API.dll
/MS.Patients.API/bin/Debug/net8.0/MS.Patients.API.exe
/MS.Patients.API/bin/Debug/net8.0/MS.Patients.API.pdb
/MS.ElectronicRecord.API/obj/Debug/net8.0/apphost.exe
/MS.ElectronicRecord.API/obj/Debug/net8.0/MS.ElectronicRecord.API.dll
/MS.ElectronicRecord.API/obj/Debug/net8.0/MS.ElectronicRecord.API.pdb
/MS.ElectronicRecord.API/obj/Debug/net8.0/MS.ElectronicRecord.API.sourcelink.json
/MS.ElectronicRecord.API/obj/Debug/net8.0/refint/MS.ElectronicRecord.API.dll
/MS.ElectronicRecord.API/bin/Debug/net8.0/MS.ElectronicRecord.API.dll
/MS.ElectronicRecord.API/bin/Debug/net8.0/MS.ElectronicRecord.API.exe
/MS.ElectronicRecord.API/bin/Debug/net8.0/MS.ElectronicRecord.API.pdb
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.dll
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.pdb
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.sourcelink.json
/MS.Domain.Authorization/obj/Debug/net8.0/refint/MS.Domain.Authorization.dll
/MS.Domain.Authorization/bin/Debug/net8.0/MS.Domain.Authorization.dll
/MS.Domain.Authorization/bin/Debug/net8.0/MS.Domain.Authorization.pdb
/MS.Authorization.API/obj/Debug/net8.0/apphost.exe
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.csproj.AssemblyReference.cache
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.csproj.CoreCompileInputs.cache
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.csproj.FileListAbsolute.txt
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.dll
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.genruntimeconfig.cache
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.pdb
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.sourcelink.json
/MS.Authorization.API/obj/Debug/net8.0/refint/MS.Authorization.API.dll
/MS.Persistence.Authorization/obj/Debug/net8.0/MS.Persistence.Authorization.csproj.AssemblyReference.cache
/MS.Persistence.Authorization/obj/Debug/net8.0/MS.Persistence.Authorization.dll
/MS.Persistence.Authorization/obj/Debug/net8.0/MS.Persistence.Authorization.pdb
/MS.Persistence.Authorization/obj/Debug/net8.0/MS.Persistence.Authorization.sourcelink.json
/MS.Persistence.Authorization/obj/Debug/net8.0/refint/MS.Persistence.Authorization.dll
/MS.Persistence.Authorization/bin/Debug/net8.0/MS.Application.Authorization.dll
/MS.Persistence.Authorization/bin/Debug/net8.0/MS.Application.Authorization.pdb
/MS.Persistence.Authorization/bin/Debug/net8.0/MS.Domain.Authorization.dll
/MS.Persistence.Authorization/bin/Debug/net8.0/MS.Domain.Authorization.pdb
/MS.Persistence.Authorization/bin/Debug/net8.0/MS.Persistence.Authorization.dll
/MS.Persistence.Authorization/bin/Debug/net8.0/MS.Persistence.Authorization.pdb
/MS.Patients.API/obj/Debug/net8.0/apphost.exe
/MS.Patients.API/obj/Debug/net8.0/MS.Patients.API.dll
/MS.Patients.API/obj/Debug/net8.0/MS.Patients.API.pdb
/MS.Patients.API/obj/Debug/net8.0/MS.Patients.API.sourcelink.json
/MS.Patients.API/obj/Debug/net8.0/refint/MS.Patients.API.dll
/MS.Domain.Authorization/obj/Debug/net8.0/ref/MS.Domain.Authorization.dll
/MS.ElectronicRecord.API/obj/Debug/net8.0/ref/MS.ElectronicRecord.API.dll
/MS.Patients.API/obj/Debug/net8.0/ref/MS.Patients.API.dll
/MS.Persistence.Authorization/obj/Debug/net8.0/ref/MS.Persistence.Authorization.dll
/MS.Authorization.API/obj/Debug/net8.0/ref/MS.Authorization.API.dll
/MS.Authorization.API/obj/Debug/net8.0/MS.Authorization.API.assets.cache
/MS.Authorization.API/obj/MS.Authorization.API.csproj.nuget.dgspec.json
/MS.Authorization.API/obj/project.assets.json
/MS.Authorization.API/obj/project.nuget.cache
/MS.Application.Authorization/obj/MS.Application.Authorization.csproj.nuget.dgspec.json
/MS.Application.Authorization/obj/project.nuget.cache
/MS.Domain.Authorization/bin/Debug/net8.0/MS.Domain.Authorization.deps.json
/MS.Domain.Authorization/bin/Debug/net8.0/MS.Domain.Authorization.runtimeconfig.json
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.csproj.FileListAbsolute.txt
/MS.Domain.Authorization/obj/Debug/net8.0/MS.Domain.Authorization.genruntimeconfig.cache
/MS.Domain.Authorization/obj/MS.Domain.Authorization.csproj.nuget.dgspec.json
/MS.Domain.Authorization/obj/MS.Domain.Authorization.csproj.nuget.g.props
/MS.Domain.Authorization/obj/MS.Domain.Authorization.csproj.nuget.g.targets
/MS.Domain.Authorization/obj/project.assets.json
/MS.Domain.Authorization/obj/project.nuget.cache
/MS.Persistence.Authorization/obj/MS.Persistence.Authorization.csproj.EntityFrameworkCore.targets
/MS.Persistence.Authorization/obj/MS.Persistence.Authorization.csproj.nuget.dgspec.json
/MS.Persistence.Authorization/obj/project.nuget.cache
/MS.Authorization.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/MS.Authorization.API/bin/Debug/net8.0/Mono.TextTemplating.dll
/MS.Authorization.API/bin/Debug/net8.0/System.CodeDom.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Composition.Convention.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Composition.Hosting.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Composition.Runtime.dll
/MS.Authorization.API/bin/Debug/net8.0/System.Composition.TypedParts.dll
/MS.Authorization.API/bin/Debug/net8.0/Humanizer.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/MS.Authorization.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/MS.Persistence.Authorization/obj/Debug/net8.0/MS.Persistence.Authorization.csproj.CoreCompileInputs.cache
/MS.Persistence.Authorization/bin/Debug/net8.0/MS.Persistence.Authorization.deps.json
/MS.Persistence.Authorization/bin/Debug/net8.0/MS.Persistence.Authorization.runtimeconfig.json
